<!DOCTYPE html> 
      <head><meta charset=UTF-8>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/> 
      <link rel="stylesheet" href="css/styles.css" /> </head>
      <body>
            <nav>
                  <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Swell</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down"></ul>
                  </div>
                </nav>
      <h4>Daily modern</h4> 
      <html class=row> 
      <div class=col s12 m7 l4> 
      <div class=card> 
      <div class=card-image> 
       <img src="media/termo3.webp" /> 
       <span class=card-title>Blue ocean sky</span> 
      </div> 
      <div class=card-content> 
      <ul> 
      <li>- Keeps drinks hotter or colder, for longer.</li> 
      <li>- BPA/BPS-free and reusable.</li> 
      <li>- Vacuum-insulated, food-grade 18/8 stainless steel.</li> 
      </ul> 
      </div> 
       </div> 
      </div> 
      <div class=col s12 m7 l4> 
      <div class=card> 
      <div class=card-image> 
      <img src="media/termo4.jpeg" /> 
      <span class=card-title>Wood fancy eyes </span> 
      </div> 
      <div class=card-content> 
      <ul> 
       <li>- Keeps drinks hotter or colder, for longer.</li> 
      <li>- BPA/BPS-free and reusable.</li> 
       <li>- Vacuum-insulated, food-grade 18/8 stainless steel.</li> 
       </ul> 
      </div> 
      </div> 
      </div> 
      <div class=col s12 m7 l4> 
      <div class=card> 
       <div class=card-image> 
      <img src="media/termo5.jpeg" /> 
      <span class=card-title>White cocodrile </span> 
      </div> 
      <div class=card-content> 
      <ul> 
      <li>- Keeps drinks hotter or colder, for longer.</li> 
      <li>- BPA/BPS-free and reusable.</li> 
      <li>- Vacuum-insulated, food-grade 18/8 stainless steel.</li> 
       </ul> 
       </div> 
      </div> 
      </div> 
      <h4>Coffee modern</h4> 
      <div class=col s12 m7 l4> 
      <div class=card> 
       <div class=card-image> 
      <img src="media/termo6.jpeg" /> 
      <span class=card-title>Basic Coffee </span> 
      </div> 
      <div class=card-content> 
      <ul> 
      <li>- Keeps drinks hotterfor longer.</li> 
      <li>- With a cup for easily drink it.</li> 
      <li>- Heavy less</li> 
       </ul> 
       </div> 
      </div> 
      </div> 
      <div class=col s12 m7 l4> 
      <div class=card> 
       <div class=card-image> 
      <img src="media/termo7.jpeg"/> 
      <span class=card-title>Basic Coffee </span> 
      </div> 
      <div class=card-content> 
      <ul> 
      <li>- Keeps drinks hotterfor longer.</li> 
      <li>- With a cup for easily drink it.</li> 
      <li>- Heavy less</li> 
       </ul> 
       </div> 
      </div> 
      </div> 
      <div class=col s12 m7 l4> 
      <div class=card> 
       <div class=card-image> 
      <img src="media/termo8.jpeg"/> 
      <span class=card-title>Basic Coffee </span> 
      </div> 
      <div class=card-content> 
      <ul> 
      <li>- Keeps drinks hotterfor longer.</li> 
      <li>- With a cup for easily drink it.</li> 
      <li>- Heavy less</li> 
       </ul> 
       </div> 
      </div> 
      </div> 
      <a href=/informes>¡Quiero el mio! Pedir informes</a><br>
</body>
</html>
