<!DOCTYPE html>
<html>
  <head>
    <!-- Compiled and minified CSS -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/color.css" />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Frameworks</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="sass.html">Esto es un</a></li>
          <li><a href="badges.html">navbar y usa</a></li>
          <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <!-- Page Content goes here -->
      <h1>Diferentes framework</h1>
      <p>Denisse Dominguez Bolaños</p>
      <p>Este es el laboratorio de frameworks</p>
      <!-- con el boton sacar la imagen de un pulpo feliz en js -->
      <a class="waves-effect waves-light btn" id="cambio_animo">Feliz</a>
      <div id="contenedor_imagen" width="200">
        <img src="media/pulpoEnojado.webp" alt="pulpo triste" />
      </div>
      <div class="row">
        <div class="col l6 m6 s12">
          <!-- s pantalla mediana, m mediana y l grande, s1 en una pantalla chica es una columna-->
          <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
              <img
                class="activator responsive-img"
                src="media/img1.png"
                alt="logo de materialize"
              />
            </div>
            <div class="card-content">
              <span
                class="card-title activator grey-text text-darken-4 flow-text"
                >Materialize<i class="material-icons right"
                  >framework 1</i
                ></span
              >
              <p>Esta tarjeta tiene movimineto, picale sin miedo</p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Para el diseño de esta pagina usamos Materialize<i
                  class="material-icons right"
                  >close</i
                ></span
              >
              <p>
                Materialize nos permite tambien dar animaciones con js, no solo
                hacer nuestra pagina bonita
              </p>
            </div>
          </div>
        </div>

        <div class="col l1 m2">2</div>
        <div class="video-container responsive-video">
          <iframe
            width="853"
            height="480"
            src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col l1 m2">3</div>
        <p>Ingresa tu nombre</p>
        <!--llenar un blanco-->
        <div class="row">
          <div class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input
                  type="text"
                  id="autocomplete-input"
                  class="autocomplete"
                />
                <label for="autocomplete-input">Denisse Dominguez</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col l1 m2">4</div>
        <p>Selecciona la fecha actual</p>
        <input type="text" class="datepicker" />
        <div class="col l1 m2">5</div>
        <p>selecciona tu color favorito</p>
        <form action="#">
          <p>
            <label>
              <input name="group1" type="radio" checked />
              <span>Amarillo</span>
            </label>
          </p>
          <p>
            <label>
              <input name="group1" type="radio" />
              <span>Rosa</span>
            </label>
          </p>
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>Azul</span>
            </label>
          </p>
          <p>
            <label>
              <input name="group1" type="radio" disabled="disabled" />
              <span>Verde</span>
            </label>
          </p>
        </form>
        <div class="col l1 m2">6</div>
        <p>si estas seguro, envia tus resultados</p>
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
        <div class="col l1 m2">7</div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Material Design</span>
                <p>
                  Material design es una plataforma que nos permite ver como se
                  veria la combiancion de colores, como tal nos muestra un sitio
                  base donde podemos ver como se ve en conunto la paleta de
                  colores que hemos escogido, asi como las opciones de
                  diferentes tonalidades y que tan bien y claro se ve esa paleta
                  de colores
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Gracias</h5>
            <p class="grey-text text-lighten-4">Por tu visita</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Agregar el js -->
    <!-- va hasta abajao porque con js se esta manipulando y debemos primero
    cargar todo el html para saber a que elemento se esta haciendo referencia -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/script.js"></script>
    <script>
      M.AutoInit();
    </script>
  </body>
</html>
