<%- include('../includes/head.ejs') %>
<h1>Los correos que han solicitado informes son <%= correo %></h1>
<% if (correosEnviados.length > 0) { %>
<div class="collection">
  <% for (let g of correosEnviados) { %>
  <a href="#!" class="collection-item"><%= g %></a>
  <% } %>
</div>
<% } else { %>
<h2>No hay solicitudes previas</h2>
<% } %> <%- include('../includes/foot.ejs') %>
