<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <form action="informes" method="POST">
      <fieldset>
        <legend>Quiero recibir mas informes</legend>
        <label for="correo">Correo: </label
        ><input type="text" name="correo" id="correo" /> <br /><br />
        <label for="termoInteres">Me intersa el termo...</label
        ><input type="text" name="termoInteres" id="termoInteres" />
      </fieldset>
      <input type="submit" value="enviarSolicitud" />
    </form>
  </body>
</html>
