<!-- ENVIO DE DATOS-->
    <!--action es el path a donde mandas la forma -->
    <!-- si le agregas el / se va al / original -->
    <form action="sorteo" method="POST">
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <label for="nombre">Nombre</label>
              <!-- en back end lo que uso es el name -->
              <input type="text" id="nombre" name="nombre" />
            </div>
            <div class="input-field col s6">
              <label for="telefono">Telefono</label>
              <input type="text" id="telefono" name="telefono" />
            </div>
            <div class="input-field col s12">
              <label for="dinos">¿porque eres swell lover?</label>
              <select name="seleccionDinos" id="seleccionDinos">
                <option value="" disabled selected>Escoge una razon</option>
                <% for (let c of clientes) { %>
                  <option value="<%= c.nombre %>"><%= c.nombre %></option>
                  <% } %>
                </select>
            </div>
          </div>
        </div>
      </div>
      <input type="submit" value="Participacion" />
    </form>
</form>
